.chat-dialog {
  padding: 10px;
  position: fixed;
  top: 64px;
  right: 0;
  width: 300px;
  height: 100%;
  overflow: auto;
  margin-bottom:100px;
}

.chat-input {
  position: fixed;
  bottom: 10px;
  width: 280px;
  border: 1px solid #3f51b5;
  padding:10px;
}

.bubble {
  border-radius: 20px;
  padding: 8px 12px;
}

.question {
  margin-left: 30px;
  background-color: #e0e0e0;
}

.answer {
  margin-right: 30px;
  background-color: lighten(#3f51b5, 40%);
}

.filler {
  height: 125px;
}
