<md-sidenav-container class="mat-typography">
  <md-sidenav #sidenavleft mode="side" opened="true">
    <md-toolbar color="primary"></md-toolbar>

    <md-nav-list>
      <a md-list-item routerLink="/page-one" routerLinkActive="active-link">
        <md-icon md-list-icon>beenhere</md-icon>
        <span>Page One</span>
      </a>
      <a md-list-item routerLink="/page-two" routerLinkActive="active-link">
        <md-icon md-list-icon>local_drink</md-icon>
        <span>Page Two</span>
      </a>
      <a md-list-item routerLink="/page-three" routerLinkActive="active-link">
        <md-icon md-list-icon>adb</md-icon>
        <span>Page Three</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <span id="title">{{ title }}</span>
    </div>
  </md-toolbar>

  <md-sidenav #sidenavright mode="side" opened="true" align="end">
    <md-toolbar color="primary"></md-toolbar>
    <app-chat></app-chat>
  </md-sidenav>

  <section class="main-section">
    <router-outlet></router-outlet>
  </section>
</md-sidenav-container>
